{% extends 'base.html.twig' %}

{% block title %}Homepage{% endblock %}

{% block body %}

    <h1>Homepage</h1>

    <a href="{{ path('app_settings') }}">Settings</a>

    <a href="{{ path('app_list') }}">Card List</a>

    <a href="{{ path('app_logout') }}">Logout</a>
{% endblock %}
