{% extends 'base.html.twig' %}

{% block title %}Cards List{% endblock %}

{% block body %}
    <script type="text/javascript" src="{{ asset('js/jquery-3.7.1.min.js') }}"></script>
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/dt/jq-3.2.1/dt-1.10.16/datatables.min.css"/>
    <script type="text/javascript" src="https://cdn.datatables.net/v/dt/jq-3.2.1/dt-1.10.16/datatables.min.js"></script>


    <h1>Cards List</h1>

    <a href="{{ path('homepage') }}">Homepage</a>

    <h3>Cards</h3>

    <div id="presidents">Loading...</div>

    {% block scripts %}
        <script src="{{ asset('bundles/datatables/js/datatables.js') }}"></script>
        <script>
            $(function() {
                $('#presidents').initDataTables({{ datatable_settings(datatable) }});
            });
        </script>
    {% endblock %}

{% endblock %}
